{% extends 'account_pages/base.html' %}
{% block title %} TeamPlanner {% endblock %}
{% block content %}

    {% if user.is_authenticated %}
        <h3>Your boards</h3>
        {% for board in user.board.all %}
            <a class="dropdown-item" href="{% url 'boards:detail' board.id%}">{{board.board_title}}</a>
        {% endfor %}
        <br>
        <a class="nav-link" href="/boards/create_board">Create new board</a>

        {% else %}
            <h3>Welcome to the TeamPlanner!</h3>
    {% endif %}

{% endblock %}