{% extends "../account_pages/base.html" %}
{% block title %} {{board.board_title}} {% endblock %}
{% block content %}
    <h2>{{board.board_title}}</h2>
    <button><a href="  ">Edit</a></button> <!--Вместо кнопки сделать значок настройки-->
    <button><a href="/boards/delete_board/{{board.id}}">Delete</a></button>
    <hr>
    {% for column in board.column.all %}
        <a class="dropdown-item" href="columns/{{column.id}}/{{board.id}}">{{column.column_title}}</a>
        <!--Сделать зачеркивание при нажатии на таск-->
        <button><a href="  ">Edit</a></button> <!--Вместо кнопки сделать значок настройки-->
        <button><a href="columns/delete_column/{{column.id}}/{{board.id}}">Delete</a></button>
     {% for task in column.task.all %}
        <a class="dropdown-item" href="">{{task}} task</a>
        <!--Сделать зачеркивание при нажатии на таск-->
        <button><a href="  ">Edit</a></button> <!--Вместо кнопки сделать значок настройки-->
        <button><a href="  ">Delete</a></button>
        {% endfor %}
    {% endfor %}
    <hr>
    <br>
        <a class="nav-link" href="/columns/create_column/{{board.id}}">Create new column</a>

{% endblock %}
